@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/montserrat-regular.eot');
    src: url('../fonts/montserrat-regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/montserrat-regular.woff2') format('woff2'),
         url('../fonts/montserrat-regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/montserrat-medium.eot');
    src: url('../fonts/montserrat-medium.eot?#iefix') format('embedded-opentype'),
         url('../fonts/montserrat-medium.woff2') format('woff2'),
         url('../fonts/montserrat-medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'PlayfairDisplay';
    src: url('..fonts/playfairdisplaysc-regular.eot');
    src: url('..fonts/playfairdisplaysc-regular.eot?#iefix') format('embedded-opentype'),
         url('..fonts/playfairdisplaysc-regular.woff2') format('woff2'),
         url('..fonts/playfairdisplaysc-regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'PlayfairDisplay';
    src: url('..fonts/playfairdisplaysc-bold.eot');
    src: url('..fonts/playfairdisplaysc-bold.eot?#iefix') format('embedded-opentype'),
         url('..fonts/playfairdisplaysc-bold.woff2') format('woff2'),
         url('..fonts/playfairdisplaysc-bold.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

.header-navigation-list{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.header-navigation-list a {
    text-decoration: none;
    font-family: 'Montserrat', 'Arial', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 19.5px;
    color: #AE7C78;
}